.navbar-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, white 10%, #e81f23 100%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    height: 48px;
    margin: 0 10px;
}

.welcome-text {
    color: white !important;
    font-size: 18px;
}

.date-text {
    color: white !important;
    font-size: 16px;
}

.logout-button {
    background-color: #fff;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: white;
}
